body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}

.cityInput{
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.498) ;
    border-radius: 5px;
    margin: 10px;
    width: 250px;
}

#btn{
    margin-left: 10px;
    color: rgb(33, 34, 34);
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgba(50, 176, 176, 0.657);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(115, 114, 114);
}

#btn:hover{
    background-color: rgba(15, 139, 139, 0.919);
}

.card{
    background: linear-gradient(180deg, rgba(29, 155, 155, 0.809),rgb(197, 205, 41));
    padding: 30px;
    border: 5px;
    box-shadow: 2px 2px 4px rgba(32, 30, 30, 0.537);
    min-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

p{
    font-size: 1.5rem;
    margin: 5px 0;
}

.tempDisplay{
    font-size: 1.7rem;
    font-weight: bold;
    margin: 10px;
}

.humidity{
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.desDisplay{
 font-family: Verdana, Tahoma, sans-serif;
}

.weatherEmoji{
 font-size: 4.5rem;
}

.errorDisplay{
    color: red;
    font-weight: bold;
}